@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    background: #e8fbd9;
    font-family: "Open Sans", serif;
    color: #111111;
    
}


html{
    scroll-behavior: smooth;
    border: none;
}

.menuPrincipal{
    background-color: white;
    display: flex;
    justify-content: center;
    height: 100px; 
    
    
}

.menuPrincipal button{
    font-size: 10px;
    cursor: pointer;
}

.logoNome{
    margin-right: 20px;  /* arrunar margin */
}

.logoNome h1{
    font-size: 20px;
}



.menuPrincipal button:hover{
    color: rgb(0, 128, 0);
}

button{
    border: none;
    background-color: white;
    font-weight: bold;
    
}

.logo{
    background-color: white;
}


.menuCentral {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://static.vecteezy.com/ti/fotos-gratis/p2/7426181-vista-aerea-de-uma-grande-fazenda-brasileira-com-plantacao-de-cafe-no-brasil-foto.jpg')  ; /* sem ponto antes da barra */
    background-size: cover;
    background-position: center;
    height: 400px;
    color:black;
    
}


.menuCentral a{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    background-color: transparent;
    
    
    
}

.menuCentral p{
    margin-top: 30px;
    color:black;

}

.botaoMenu{
    
    width: 110px;
    height: 50px;
    border-radius: 8px;
    background-color: green;
    color: white;
    margin-top: 10px;
    transition: 0.9s;
    
    
}

.botaoMenu:hover{
    background-color: #ffe100;
}



.menuCentral p{
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 50px;
    padding-top: 20px;
}


.logoNome{
    display: flex;
    align-items: center;
    background-color: white;
    background-color: transparent;
    gap: 20px;
    
    
}


.logoNome h1{
    background-color: white;
}

.cardGeral {
    
    display: flex;
    justify-content: space-between;
    margin: 40px;
    
}

.cardGeral p{
    
    text-align: center;
    box-shadow: 1px 10px 10px black;
    border-radius: 30px;
    
    margin-top: 20px;
    
    
}


.informacoesContato{
    text-align: center;
    background-color: blue;
    
}

h3{
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    border-bottom: 5px solid green;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 35px;
    
}

.card {
    box-shadow: 10 4px 40px 10 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    background: white;
    
}

.container h4{
    background: white;
    text-align: center;
}


.navegacao{
    display: flex;
    align-items: center;
    gap: 150px;
    background-color: white;
    cursor: pointer;
    padding-left:25px;
    
}

.navegacao a{
    background-color: white;
    font-size: 20px;
}

.navegacao a:hover{
    text-decoration: underline;
    text-decoration-color: green;
    transition: transform 0.2s;
    transform: scale(1.3);
    text-decoration-thickness: 4px;

}


.local{
    margin-top:50px ;
    margin-bottom:50px ;
    
}



.footer {
    background-color: #004d26; /* verde escuro */
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer i {
    margin-right: 8px;
    background-color: #004d26;
  }
  
  .footer a {
    color: white;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
    background-color: #004d26;
  }
  
  .footer a:hover {
    text-decoration: none;
  }

  .footer p{
    color: white;
    background-color: #004d26;

  }


  .footer i.fa-phone-alt {
    color: black;
    background-color: white;       /* fundo da bolinha */            /* cor do ícone dentro */
    border-radius: 50%;            /* forma circular */
    padding: 10px;
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }


  .footer i.fa-envelope {
    color: blue;
    background-color: white;       
    border-radius: 50%;         
    padding: 10px;
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }


  .footer i.fa-whatsapp {
    color: #25D366; /* cor oficial do WhatsApp */
    background-color: white;       
    border-radius: 50%;         
    padding: 10px;
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

  }
