@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background: #e8fbd9;
    font-family: "Open Sans", serif;
    color: #111111;
    margin: 10px;
}

.barrinhaverde{
    background-color: #529D13;
    display: flex;
    color: white;
    justify-content: space-around;
    gap: 600px;
    align-items: center;
    
}

.Logo{

    display: flex;
    gap:50px;
    font-size: 20px;
    align-items: center;
}

.MenuClientes{
    
    padding:20px;
    text-align: center;
    font-size: 40px;
    background: #529d13;
    border-radius: 20px;
    color: white;
    
}

h2{
    padding:10px;
    font-size: 30px;
}

.formulario{
    padding: 5px;
    font-size: 20px;
}

.buttonVoltar{

    border: 0;
    height: 30px;
    width: 80px;;
    border-radius: 30px;
    background: #ffe100;
    color: black;
    margin: 5px;
    cursor: pointer;

}

.buttonVoltar:hover{
    transition: 0.5s;
    transform: scale(1.2);

}

.buttonSalvar{

    border: 0;
    height: 30px;
    width: 100px;;
    border-radius: 30px;
    background:  #529d13;
    color: white;
    cursor: pointer;
    margin: 5px;
    

}

.buttonSalvar:hover{
    transition: 0.5s;
    transform: scale(1.1);

}

input{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
   
}


