body{
    background-color: #E8FBD9;
}

.logo{
    margin: 50px;
    margin-bottom: 0px;
  }

  .voltar{
    margin: 20px;
    border: 2px solid black;
    margin-right: 1800px;
    padding: 12px;
    text-align: center;
    background-color: whitesmoke;
  }

  .caixa_de_texto{
    background-color: white;
    padding: 50px;
    border: 2px solid black;
    width: 250px;
    height: 400px;
    margin-top: 20px;
  }

  .espacamento{
    display: flex;
    justify-content: space-around;

  }

  .pv{
    background-color: white;
    width: 200px;
    height: 50px;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
  }
  