body{
    background-color: #E8FBD9;
}

.logo{
    margin: 50px;
  }

  .voltar{
    margin: 20px;
    border: 2px solid black;
    margin-right: 1800px;
    padding: 12px;
    text-align: center;
    background-color: whitesmoke;
  }

  .caixa_de_texto{
    background-color: white;
    padding: 50px;
  }

  .espacamento{
    display: flex;
    text-align: center;
    margin-left: 100px;
  }