body{
    background-color: #E8FBD9;
}

.logo{
    margin: 20px;
    margin-bottom: 20px;
  }

  .voltar{
    margin: 20px;
    border: 2px solid black;
    margin-right: 50px;
    padding: 12px;
    text-align: center;
    background-color: whitesmoke;
  }

  .caixa_de_texto{
    background-color: white;
    padding: 50px;
    border: 2px solid black;
    width: 250px;
    height: 400px;
    margin-top: 20px;
  }

  .espacamento{
    display: flex;
    justify-content: space-around;

  }

  .pv{
    background-color: white;
    width: 200px;
    height: 50px;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    margin-top: 50px;
  }

  .barrinhaverde{
    background-color: #529D13;
    padding: 6px;
    display: flex;
  }

  .ml{
    margin-left: 213px;
    overflow-y: scroll;
  }

  .mr{
    margin-right: 213px;
    overflow-y: scroll;
  }
  
  .ta{
    text-align: center;
  }