body{
  background-color: #E8FBD9;
}

.logo{
  margin: 50px;
  margin-left: 200px;
  margin-top: 200px;
  display: flex;
}

.espacamento{
  display: flex;
  margin-left: 100px;
}

.botoes{
  border: 2px solid black;
  margin: 30px;
  width: 200px;
  height: 80px;
  text-align: center;
  padding-top: 30px;
  background-color: whitesmoke;
}

.espacamento_cima{
  margin-top: 200px;
}

.espacamento_esquerda{
  margin-left: 220px;
}

.barrinhaverde{
  background-color: #529D13;
  padding: 40px;
}