body{
  background-color: #E8FBD9;
}

.logo{
  margin: 50px;
  margin-left: 200px;
  margin-top: 200px;
  display: flex;
}

.espacamentoprincipal{
  display: flex;
  margin-left: 100px;
}

.espacamento{
  display: flex;
  margin-left: 100px;
}

.botoes{
  border: 2px solid #1fae1f;
  margin: 30px;
  width: 200px;
  height: 80px;
  text-align: center;
  padding-top: 30px;
  background-color: whitesmoke;
}

.botoes:hover{
  background-color: #529D13;
  color: white;
}

.espacamento_cima{
  margin-top: 200px;
}

.espacamento_esquerda{
  margin-left: 220px;
}

.barrinhaverde{
  background-color: #529D13;
  padding: 40px;
}

.barrinhaverde p{
  text-align: center;
  font-size: 25px;
  color: white;
}

@media screen and (max-width: 1500px) {
  .espacamentoprincipal {
    display: inline;
  }
  .espacamento{
  
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin-left: 0px;
    align-items: center;
  }
  .espacamento_esquerda{
    
    display: flex;
    justify-content: center;
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
  }
  
}