body{
  background-color: #E8FBD9;
}

.logo{
  margin: 50px;
  display: flex;
}

.espacamentoprincipal{
  display: flex;

}

.espacamento{
  display: flex;
  
}

.botoes{
  border: 2px solid #1fae1f;
  margin: 30px;
  width: 200px;
  height: 80px;
  text-align: center;
  padding-top: 30px;
  background-color: whitesmoke;
}

.espacamento_cima{
  margin-top: 200px;
}

.espacamento_esquerda{
  margin-left: 220px;
}

.barrinhaverde{
  background-color: #529D13;
  padding: 40px;
}

.barrinhaverde p{
  text-align: center;
  font-size: 25px;
  color: white;
}


.espacamentoprincipal{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.botoesInicial{
  display: flex;
}
.botoesInicial p{
  border-bottom: 10px solid #1fae1f;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 125px;
}
.botoesInicial p:hover{
  border-bottom: 20px solid #1fae1f;
  color: #0f570f;
  transform: scale(1.05);
}
.botoesInicial p img{
  width: 25px;
}
.botoesInicial p:hover img{
  filter: invert(26%) sepia(100%) saturate(1000%) hue-rotate(90deg);
}

.barrinhaverde{
  cursor: default;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.barrinhaverde img{
  filter: brightness(100);
}