@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background: #e8fbd9;
    font-family: "Open Sans", serif;
    color: #111111;
    margin: 10px;
}

   

.buttonVoltar{

    border: 0;
    height: 30px;
    width: 50px;;
    border-radius: 10px;
    background: #ffe100;
    color: black;

}


.MenuInferior button{

    font-size: 50px;
    padding: 20px;
    padding-left: 20px;
    border: none;
    background-color: #ffe100;
    margin-top: 30px;
    margin-right: 500px;
    border-radius: 20px;


  
}


.CaixaTexto{
    
    display: flex;
    justify-content: space-around;
    font-size: 20px;
        
}

.CaixaTexto p{
    
    
    background-color: #73c82c;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding-left: 100px;
    padding-right:100px;
    padding-bottom: 500px; 
    text-align:center
    
    
}

.barrinhaverde{
    background-color: #529D13;
    display: flex;
    color: white;
    justify-content: space-around;
    gap: 600px;
    align-items: center;
    
}

.Logo{

    display: flex;
    gap:50px;
    font-size: 20px;
    align-items: center;
}






h2{
    color:black;
    background: #e8fbd9;

}


button{
    border: none;
    border-radius: 30px;
    background: #ffe100;
    color: black;
    cursor: pointer;


}

button:hover{
    background-color: #B8B819;
}


.pesquisa{

    display: flex;
    gap:10px;

}

.SemanaMes{
    display: flex;
    gap:10px;
}


.botoes{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding-right: 30px;
    padding-left: 30px;

}

.botoes button{
    padding: 10px;
}

h2{
    padding: 10px;
}


input[type="date"]{
    background-color:#ffe100;
    padding: 15px;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}



